In [1]:
import pandas as pd
import numpy as np

In [2]:
df_prices = pd.read_csv("../datos/crudos/car_prices.csv")
df_fuel = pd.read_csv("../datos/crudos/Fuel_Consumption_2000-2022.csv")

In [3]:
df_prices.columns = df_prices.columns.str.lower().str.strip()

In [4]:
cols_numeric = ["year", "sellingprice", "mmr", "odometer"]
for col in cols_numeric:
    df_prices[col] = pd.to_numeric(df_prices[col], errors="coerce")

In [5]:
df_prices["make"] = df_prices["make"].str.upper().str.strip()
df_prices["model"] = df_prices["model"].str.upper().str.strip()

In [6]:
df_prices.isnull().sum()
df_prices.duplicated().sum()

np.int64(0)

In [7]:
df_fuel.columns = df_fuel.columns.str.lower().str.strip()

In [8]:
df_fuel = df_fuel.rename(columns={
    "year": "year",
    "make": "make",
    "model": "model"
})

In [9]:
df_fuel["year"] = pd.to_numeric(df_fuel["year"], errors="coerce")

In [10]:
df_fuel["make"] = df_fuel["make"].str.upper().str.strip()
df_fuel["model"] = df_fuel["model"].str.upper().str.strip()

In [11]:
df_fuel.isnull().sum()
df_fuel.duplicated().sum()

np.int64(1)

In [12]:
df_prices.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [13]:
df_fuel.columns

Index(['year', 'make', 'model', 'vehicle class', 'engine size', 'cylinders',
       'transmission', 'fuel', 'fuel consumption', 'hwy (l/100 km)',
       'comb (l/100 km)', 'comb (mpg)', 'emissions'],
      dtype='object')

In [14]:
df_prices[["year", "sellingprice", "mmr", "odometer"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   sellingprice  558825 non-null  float64
 2   mmr           558799 non-null  float64
 3   odometer      558743 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 17.1 MB

In [15]:
df_fuel[["year"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22556 entries, 0 to 22555
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    22556 non-null  int64
dtypes: int64(1)
memory usage: 176.3 KB

In [16]:
df_prices[["make", "model"]].head(10)

        make                model
0        KIA              SORENTO
1        KIA              SORENTO
2        BMW             3 SERIES
3      VOLVO                  S60
4        BMW  6 SERIES GRAN COUPE
5     NISSAN               ALTIMA
6        BMW                   M5
7  CHEVROLET                CRUZE
8       AUDI                   A4
9  CHEVROLET               CAMARO

In [17]:
df_fuel[["make", "model"]].head(10)

    make               model
0  ACURA               1.6EL
1  ACURA               1.6EL
2  ACURA               3.2TL
3  ACURA               3.5RL
4  ACURA             INTEGRA
5  ACURA             INTEGRA
6  ACURA  INTEGRA GSR/TYPE R
7  ACURA                 NSX
8  ACURA                 NSX
9   AUDI                  A4

In [18]:
df_prices[["make", "model", "year"]].isnull().sum()

make     10301
model    10399
year         0
dtype: int64

In [19]:
df_fuel[["make", "model", "year"]].isnull().sum()

make     0
model    0
year     0
dtype: int64